venv/

.env
.env.local
.env.production

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

db.sqlite3
*.sql
*.sqlite3

media/

staticfiles/

.vscode/

.idea/

Thumbs.db
desktop.ini

.DS_Store

*.log

.pytest_cache/